<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <style type="text/css" href="/css/bootstrap.min.css"></style>
    <style type="text/css" href="/css/main.css"></style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand " href="http://www.duious.com/" title="前往duious个人主页">
        <span style="vertical-align: inherit;color:#fff">
            <span style="vertical-align: inherit;">&nbsp;&nbsp;duious&nbsp;&nbsp;</span>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/blog">Blog <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {{content}}
</div>
<footer class="footer">
    <div class="container">
        <hr>
        <div class="text-center">
            <ul class="list-inline">
                <li>GitHub:<a href="https://github.com/duious" target="_blank">github.com/duious</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
<script type="application/javascript" src="/js/jquery.min.js"></script>
<script type="application/javascript" src="/js/bootstrap.min.js"></script>
</html>
