<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://duious.github.io/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://duious.github.io/css/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand " href="https://duious.github.io/" title="前往duious个人主页">
        <span style="vertical-align: inherit;color:#fff">
            <span style="vertical-align: inherit;">&nbsp;&nbsp;duious&nbsp;&nbsp;</span>
        </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/blog">Blog <span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="min-height: 960px">
    {{content}}
</div>
<footer class="footer jumbotron">
    <div class="container">
        <div class="list-group">
            <a class="h5">常用工具网站：</a>
            <a href="http://www.bootcss.com/" class=" ">BootStrap</a>
            <a href="http://echarts.baidu.com" class=" ">Echarts</a>
            <a href="https://pay.weixin.qq.com" class=" ">WeiXinPay</a>
            <a href="http://www.apache.org/" class=" ">Apache</a>
            <a href="http://hadoop.apache.org/" class=" ">Hadoop</a>
            <a href="http://hbase.apache.org/" class=" ">HBase</a>
            <a href="http://hive.apache.org/" class=" ">Hive</a>
            <a href="http://jmeter.apache.org/" class=" ">Jmeter</a>
            <a href="http://kafka.apache.org/" class=" ">Kafka</a>
            <a href="http://lucene.apache.org/" class=" ">Lucene</a>
            <a href="http://maven.apache.org/" class=" ">Maven</a>
            <a href="http://poi.apache.org/" class=" ">Poi</a>
            <a href="http://tomcat.apache.org/" class=" ">Tomcat</a>
            <a href="http://zookeeper.apache.org/" class=" ">Zookeeper</a>
            <a href="https://www.mysql.com/" class=" ">MySql</a>
            <a href="https://www.oracle.com/" class=" ">Oracle</a>
            <a href="https://redis.io/" class=" ">Redis</a>
            <a href="http://blog.mybatis.org/" class=" ">Mybatis</a>
        </div>
    </div>
    <div class="text-center">
        <ul class="list-inline">
            <li>GitHub:<a href="https://github.com/duious" target="_blank">github.com/duious</a></li>
        </ul>
    </div>
</footer>
</body>
<script type="application/javascript" href="https://duious.github.io/js/jquery.min.js"></script>
<script type="application/javascript" href="https://duious.github.io/js/bootstrap.min.js"></script>
</html>
